
<div class="bookshelf">
<p>{{category.name}}</p>
    <div class="book-grid">
        <div class=" container-fluid carousel-wrap slider-container" >
            <owl-carousel-o [options]="customOptions" >
                
                <ng-template carouselSlide *ngFor="let book of books">
                  <div class="slide m-3 p-2">
                    <a routerLink="/books/{{book.id}}"><img src="https://images-na.ssl-images-amazon.com/images/I/51uLvJlKpNL._SX321_BO1,204,203,200_.jpg" alt="img 1"></a>
                    <p>{{book.price}}</p>
                    <p>{{book.name}}</p>
<button class="bg-info w-100" (click)="addToCart(book)">Add To Cart</button>
                  </div>
                
                </ng-template>
                
              </owl-carousel-o>
        </div>
    </div>
    <div class="shelf-shadows"></div>
</div>


 