:root{
    --green:#27ae60;
    --dark-color:#219150;
    --black:#444;
    --light-color:#666;
    --border:.1rem solid rgba(0,0,0,.1);
    --border-hover:.1rem solid var(--black);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}

/* slider */
.bookshelf{
    width: 80%;
}
.carousel-wrap {
    width: 90%;
    margin: auto;
    position: relative;
  }


    /* home compoent css  */


    .row .span12 {
        width: 100%;
    }.row [class*="span"] {
        position: relative;
        float: left;
        min-height: 1px;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .button.button-teal {
        background: #336b75;
        color: #fff !important;
        float: right;
    }
    
    .row>a {
        float: right;
        margin-left: 26px;
    }
    .button {
        display: inline-block;
        border: none;
        padding: 5px 10px;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 19px;
        font-weight: 300;
        line-height: 35px;
        text-transform: uppercase;
        text-decoration: none !important;
        white-space: nowrap;
        text-align: center;
        cursor: pointer;
        vertical-align: top;
        letter-spacing: normal;
    }
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    /* bookshelf */
    
    
    
    .bookshelf {
        width: 900px;
        margin: 5rem auto;
        text-align: center;
        position: relative; }
      
      .book-grid {
        width: 1000px;
        z-index: 2;
        position: relative;
        transform: translateY(-15px); }
        .book-grid ul {
          list-style: none;
          padding: 0;
          margin: 0;
          display: grid;
          grid-template-columns: repeat(3, 1fr); }
          .book-grid ul li {
            justify-self: center; }
          .book-grid ul img {
            display: block;
            box-shadow: 0px -5px 20px 2px rgba(0, 0, 0, 0.3);
            width: 200px !important;
            height: 200px !important;
            object-fit: cover !important; }
      
      .shelf-shadows {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1rem;
        border-radius: 2px;
        z-index: 1;
        box-shadow: 0px -5px 3px 0px rgba(170, 170, 170, 0.2), 0px 15px 20px 0px rgba(170, 170, 170, 0.7), 0px 5px 5px 0px rgba(119, 119, 119, 0.3); }
      
      .shelf {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2rem;
        background-color: #f9f9f9;
        border-radius: 2px;
        z-index: 3; }
      
.add-btn{

    border-radius: .5rem;
    cursor: pointer;
    font-weight: 50;
    justify-content: center;
	align-items: center;
	background-color: #FFFFFF;
	color:#252525;
	font-weight: 700;
	letter-spacing: 1px;
	font-family: calibri;
	border-radius: 20px;
}
.add-btn:hover{
  background-color: #98eba4;
  color:#385140;  }



        .slide:hover img{

      transform: translateY(1rem);
    }  


    .bookName{
      color:#222222;
	margin: 5px 0px;
	font-weight: 700;
	letter-spacing: 0.5px;
	padding-right: 8px;
    }