footer 
{font-family: "CeraPRO";
padding-top: 2rem;
background: #F1F6F4;

box-sizing: inherit;    display: block;    font-size: 1rem;
font-family: "CeraPRO-Regular", sans-serif, arial;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;


}