<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top ">
   
      
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation" (click)="isCollapsed = !isCollapsed">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01" [ngbCollapse]="isCollapsed">
        <a class="navbar-brand" href="#">Hidden brand</a>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item   nav-item-login ">
            <app-login-status></app-login-status>
          </li>
 
        
          <form class="form-inline my-2 my-lg-0 d-lg-flex">
            <input class="form-control mr-sm-2"  #myInput
            (keyup.enter)="doSearch(myInput.value)"
            id="keyword"
             name="keyword" type="text"
        
            placeholder="Search books,authors..." aria-label="Search">
            <button class="btn btn-outline-info  my-2 my-sm-0" type="submit"
            (click)=doSearch(myInput.value)  ><i class="fa fa-search "></i>Search</button>
          </form>
          <li class="nav-item nav-item-basket d-sm-block float-end">
            <!-- top menu -->
            <div id="miniBasket" class="pl-g-3 pl-3 ml-3 ">
             <!-- basket total -->
             <div class="details">
                 <a href="nav-link " routerLink="/cart-details">
                     <img src="../../../assets/images/basket.png" class="imageHolder" alt="" srcset="">
                     <span id="uxSmallBasketQuantity"><span class="number" ngModel=[totalQuantity]>{{totalQuantity}}</span><span
                             class="text"> items</span></span>
                 </a>
                 <p></p>
                 <!--<span id="checkoutLink"><a href="https://www.hive.co.uk/Basket">Basket</a></span>-->
             </div>
             <!-- @ basket total -->
         </div>
         </li>
        </ul>
       
       
      </div>
      
  
  </nav>


<!--Navigation-->
<nav class="nav-category mt-5 pt-5 pb-5 mb-5">
    <ul class="nav-cat  d-none d-md-block ">
      <li><a href="#">Books</a>
    <ul>
        
            <li *ngFor="let category of categoriesToHeader">
                <a   routerLink="/category/{{category.id}}">{{category.name}}</a>
            </li>
     
    
    
    </ul>
    </li>
      <li><a href="#">Ebook</a>
        <ul>
          <li><a href="#">item</a></li>
          <li><a href="#">item</a></li>
          <li><a href="#">item</a></li>
          <li><a href="#">item</a></li>
        </ul>
      </li>
      <li><a href="#">Magazins</a>
        <ul>
          <li><a href="#">item a lonng submenu</a></li>
          <li><a href="#">item</a>
            <ul>
              <li><a href="#">Ray</a></li>
              <li><a href="#">Veronica</a></li>
              <li><a href="#">Bushy</a></li>
              <li><a href="#">Havoc</a></li>
            </ul>
          </li>
          <li><a href="#">item</a></li>
          <li><a href="#">item</a></li>
        </ul>
      </li>
   <!--
      <li><a href="#">Rants</a>
        <ul>
          <li><a href="#">item</a></li>
          <li><a href="#">item</a></li>
          <li><a href="#">item</a></li>
          <li><a href="#">item</a></li>
        </ul>
      </li>

        -->
        <li>
        <a routerL
        ink="/contact">Contact</a></li>
    </ul>
  </nav>
  <!--E Navigation-->




 

  
  






</body>

</html>