<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body >

  <div class="d-inline-grid   start-page m-0 p-auto  ">
          <h1 class="category-title text-center">{{category?.name}}</h1>

      <div class="d-inline-flex" *ngFor="let item of books">
  

   
        <div class="card m-3   pe-0 w-100  ">
          
  
            <div class="box bg-light ">
              <a href="" routerLink="/books/{{item.id}}" >
                <div class="slide-img">
                  <i> <img class="image"  src="../assets/images/Webp.net-resizeimage-05d69d62624843d4afc367ab3a4a3d3a.webp" alt=""></i>
                  // TODO when clicked should direct me to checkout
                  <div class="overlay"><a routerLink="/books/{{item.id}}" class="buy-btn">Buy now</a></div>
                </div>
              </a>
              <div class="detail-box ">
                <h3 class="text-center pb-4">{{item.name}}</h3>
                
                  <div class="text-info text-center justify-content-between d-flex">
        <button (click)="addToCart(item)" class="text-light bg-primary   shadow-none  rounded-end  ">
          Add to cart </button>
                    <h3 class="d-block ms-auto">{{item.price | currency : "DN" }}</h3>
        
                  </div>
        
                
              </div>
            </div>
          
         
        </div>
        </div>
  
  </div>
  
    <div *ngIf="books?.length==0" class="alert alert-warning">No Product found</div>
  
    <p>Default pagination:</p>
    <ngb-pagination class="d-flex justify-content-end"
     [collectionSize]="50" 
     [(page)]="pageNumber"

     (pageChange)="getBooks()"
      aria-label="Default pagination">
    </ngb-pagination>
    
    
    
    <pre>Current page: {{pageNumber}}</pre>
    <!--end pagination footer -->
  
</body>
</html>