<section class="pricing">


 <div class="container">
<div class="row">

    <div class="price-headline col-sm-12 bg-dark text-light ">

        <h1 class="text-center  price-headline-text">Price table</h1>
    </div>
</div>

<div class="row">

<div class=" col success col-md-4 col-sm-4 col-lg-4">
<h3>Free plan</h3>
<div>
<h3>$0</h3>
</div>
<div>
<h3 >$0</h3>
</div>
</div>
    
    <div class="col info col-md-4 col-sm-4 col-lg-4">
<h3>Standard plan</h3>
<div>
    <h3>$3</h3>
    </div>
    <div>
    <h3 >Lorem, ipsum dolor.</h3>
    </div>
    </div>
    
    
    <div class="col danger col-md-4 col-sm-4 col-lg-4">
<h3>Premium plan</h3>
<div>
    <h3>$10</h3>
    </div>
    <div>
    <h3 >Lorem, ipsum dolor.
    </h3>
    </div>
    </div>
</div>


   <!-- <table class="table table-striped table-hover">
<thead
><tr>
    
        <th class="success"><h3 class="text-center white-text">free plan</h3></th>
        <th class="info"><h3 class="text-center">Standard plan</h3></th>
        <th class="dabger"><h3 class="text-center">Premium plan</h3></th>
</tr>
</thead>
<tbody>
    <tr>
    
        <td class="success"><h3 class="text-center white-text">$0</h3></td>
        <td class="info"><h3 class="text-center">$99</h3></td>
        <td class="dabger"><h3 class="text-center">$999</h3></td>
</tr>   

<tr>
    
    <td class="success"><h3 class="text-center white-text">Lorem ipsum dolor sit</h3></td>
    <td class="info"><h3 class="text-center">Lorem ipsum dolor sit.</h3></td>
    <td class="dabger"><h3 class="text-center">Lorem ipsum dolor sit.</h3></td>
</tr>  

<tr>
    
    <td class="success"><a class="btn btn-success btn-block">Purchase</a></td>
    <td class="info"><a class="btn btn-info btn-block">Purchase</a></td>
    <td class="danger"><a class="btn btn-danger btn-block">Purchase</a></td>
</tr>   




</tbody>
   </table> -->



</div>
</section>

    


