<div class="container-fluid  mx-0"><div class="row  book-detail">
    
        <div class="col-8 book-title">
            <h4 class="text-light">{{book.name}}</h4>
        </div>
        <div class="col-4  ">
            <h4>{{book.description}} Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum perferendis reiciendis neque in voluptatum consequatur esse corrupti ea harum labore explicabo eius molestias repellendus, porro officiis dolore nihil eum quaerat? Maiores, cupiditate quaerat.</h4>
        </div>>
        <div class="row">
            <button (click)="addToCart()" class="btn w-25 btn-primary">Add to cart</button>
        </div>
</div>
<button (click)="back()" class="bi bi-arrow-return-left float-end bg-transparent btn-outline-light text-dark">Back</button>



<!-- background animations-->
<div class="col   col-lg-12 w-100">
    <div class="lines">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div> 
        <div class="line"></div>
    </div>
    </div>
