<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">
            <img src="https://i.imgur.com/DJZ5Dnk.jpg" /> Hope You enjoy the book</a>
        </li>
      </ul>
    </nav>
    <div id="app">
      <div class="container container-space">
        <div class="row">
          <div class="col-md-6 pe-5 h-25 ">
            <img class="img-fluid" :src="bannerImage" alt="" />
            <div class="product-thumbnails img-thumbnail">
              <ul>
                <img  class="img-responsive img-thumbnail" src="{{book.imageUrl}}" alt="" />
              </ul>
            </div>
          </div>
          <div class="col-md-4 p-5">
            <h3 class="my-3">
              {{book.name}}
            </h3>
            <h4 v-if="stockAvailability">Stock Available</h4>
            <h4 v-else="stockAvailability">Oops!! Out Of Stock</h4>
            <h3 class="fa fa-leaf glyphicon-text-size lead text-justify  my-3">Details</h3>
            <p>{{book.description}}</p>
            <ul v-for="detail in productChecks">
              
            </ul>
            <button type="button"  (click)="addToCart()"  class="btn btn-outline-primary btn-lg btn-block btn-custom-color bi-cart" >
              ADD TO CART
            </button> 
            <button routerLink="/checkout" type="button" class="btn btn-outline-danger btn-lg btn-block  bi-cart  float-end" >
                    Buy now
            </button>
          </div>
        </div>
      </div>
    </div>
    <  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">
              More Books</a>
          </li>
        </ul>
      </nav>
  </body>